<app-header-admin></app-header-admin>
<div>
    <h3 style="text-align: center;margin-top: 15px;">Estadisticas</h3>
    <div class="estadisticasClientes">
        <div>
            <h5>Clientes que ingresaron el ultimo mes</h5>
            <p>Realizar consulta sql</p>
            <a href="">Click aqui</a>
        </div>
        <div>
            <h5>Clientes que ingresaron el ultimo año</h5>
            <p>Realizar consulta sql</p>
            <a href="">Click aqui</a>
        </div>
        <div>
            <h5>Clientes que deben la ultima cuota</h5>
            <p>Realizar consulta sql</p>
            <a href="">Click aqui</a>
        </div>
    </div>
</div>
<div class="operacionesClientes">
    <div> <input type="text" placeholder="Buscar cliente por Dni" #inputDni>
        <button class="btn btn-warning" (click)="obtenerClientePorDni(inputDni.value)">Buscar Cliente</button></div>
    <div>
        <button class="btn btn-primary" [routerLink]="['/asistencias']">Asistencias</button>
    </div>
    <div> <button class="btn btn-success" [routerLink]="['/hcBWvERHhVtxfqdLn8j3LdejrxFVTU/crearcliente'] ">Agregar nuevo cliente</button></div>

</div>
<div class="container">
    <table class="table table-dark ">
        <thead>
            <tr>
                <th scope="col ">Nombre</th>
                <th scope="col ">Apellido</th>
                <th scope="col ">Dni</th>
                <th scope="col ">Email</th>
                <th scope="col ">Telefono</th>
                <th scope="col">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{clientePorDni?.nombre}}</td>
                <td>{{clientePorDni?.apellido}}</td>
                <td>{{clientePorDni?.email}}</td>
                <td>{{clientePorDni?.dni}}</td>
                <td>{{clientePorDni?.telefono}}</td>
                <td><button class="btn btn-primary">Actualizar</button>
                    <button class="btn btn-danger">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="tablaClientes">
    <h3 style="text-align: center;margin-top: 15px; ">Planilla de clientes</h3>
    <div class="container ">
        <table class="table table-dark ">
            <thead>
                <tr>
                    <th scope="col ">Nombre</th>
                    <th scope="col ">Apellido</th>
                    <th scope="col ">Dni</th>
                    <th scope="col ">Email</th>
                    <th scope="col ">Telefono</th>
                    <th scope="col">Operaciones</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of arrayClientes">
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.dni}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td><button class="btn btn-primary">Actualizar</button>
                        <button class="btn btn-danger" (click)="eliminarUnCliente(cliente.dni)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>