.divTabla {
    margin-top: 20px;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputBuscador {
    margin-right: 5px;
}

.contenedorMesDia {
    display: flex;
    justify-content: center;
}

.contenedorDias {
    border: 3px solid black;
    margin: 10px;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.contenedorMeses {
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.divMeses {
    min-width: 50px;
    width: 100px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.divDias {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 3px;
}

.clientesTurnos {
    display: flex;
    justify-content: space-around;
    border: 3px solid green;
}

.contenedorFormClientes {
    margin: 10px;
}

.listadoClientes {
    margin: 3px;
}