<app-header-admin></app-header-admin>
<h2 style="text-align: center;">Calendario</h2>
<div class="contenedorMesDia">
    <div class="contenedorMeses">
        <div *ngFor="let meses of arrayTurnosMeses" class="divMeses">
            <p>
                <td>{{meses}}</td>
            </p>
            <button class="btn btn-primary" (click)="filtrarDiasMeses(meses)">Ver</button>
        </div>
    </div>
    <div class="contenedorDias">
        <div class="divDias" *ngFor="let dias of arrayDiasMes">
            <p>
                <td>Dia {{dias}}</td>
            </p>
            <div>
                <button class="btn btn-success" (click)="filtrarTurnosMeses(mesAuxiliar,dias)">ver</button>

            </div>
        </div>
    </div>
</div>

<div class="container divTabla">
    <h2 style="text-align: center;">Turnos</h2>
    <table class="table table-dark">
        <thead class="">
            <tr>
                <th scope="col">Dia</th>
                <th scope="col">Mes</th>
                <th scope="col">Turno</th>
                <th scope="col">Horario</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad de personas</th>
                <th scope="col">Op</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turnoDiaMes of arrayTurnosDiaMes">
                <td>{{turnoDiaMes.dia}}</td>
                <td>{{turnoDiaMes.mesDescripcion}}</td>
                <td>{{turnoDiaMes.id}}</td>
                <td>{{turnoDiaMes.horario}}</td>
                <td>{{turnoDiaMes.descripcion}}</td>
                <td>{{turnoDiaMes.clientes?.length}}</td>

                <td *ngIf="turnoDiaMes.clientes.length<6">
                    <button class="btn btn-success" (click)="revisarTurnos(turnoDiaMes.id)">Ver inscriptos</button>

                </td>
                <td *ngIf="turnoDiaMes.clientes.length>=6 && turnoDiaMes.clientes.length<8">
                    <button class="btn btn-warning" (click)="revisarTurnos(turnoDiaMes.id)">Ver inscriptos</button>

                </td>
                <td *ngIf="turnoDiaMes.clientes.length>=8">
                    <button class="btn btn-danger" (click)="revisarTurnos(turnoDiaMes.id)">Ver inscriptos</button>

                </td>
            </tr>
        </tbody>
    </table>



    <div class="clientesTurnos">

        <div class="listadoClientes">
            <h2 style="text-align: center;">Inscriptos</h2>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Turno</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Operacion</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let turnoClientes of turnoCliente?.clientes">
                        <td>{{turnoCliente?.id}}</td>
                        <td>{{turnoCliente?.descripcion}}</td>
                        <td>{{turnoCliente?.horario}}</td>
                        <td>{{turnoClientes?.apellido}}</td>
                        <td>{{turnoClientes?.nombre}}</td>
                        <td><button class="btn btn-primary" (click)="mostrarTurnoCliente(turnoCliente.id,turnoCliente.descripcion,turnoCliente.horario,turnoCliente.id_cliente,turnoClientes.nombre,turnoClientes.apellido)">Editar</button></td>
                    </tr>

                </tbody>
            </table>
        </div>


        <div class="contenedorFormClientes">
            <div *ngIf="mostrarForm==false">

            </div>
            <div *ngIf="mostrarForm==true">
                <div class="formCliente">
                    <h5>IdCliente</h5>
                    <input type="number" value={{auxCliente}}>
                    <h5>Nombre</h5>
                    <input type="text" placeholder="Nombre" id="nombre" value={{auxNombre}} disabled>
                    <h5>Apellido</h5>
                    <input type="text" placeholder="Apellido" value={{auxApellido}} disabled>
                    <h5>Turno</h5>
                    <input type="text" placeholder="Turno" id="turno" value={{auxTurno}} disabled>
                    <h5>Descripcion</h5>
                    <input type="text" placeholder="descripcion" id="descripcion" value={{auxDescripcionTurno}}>
                    <h5>Horario</h5>
                    <input type="text" placeholder="Horario" id="horario" value={{auxHorario}}>
                    <div>
                        <button class="btn btn-success">Modificar</button>
                        <button class="btn btn-danger">Cancelar</button>
                    </div>


                </div>
            </div>

        </div>

    </div>
    <div class="button">
        <div>
            <button class="btn btn-danger" [routerLink]="['/hcBWvERHhVtxfqdLn8j3LdejrxFVTU']">Regresar</button>
        </div>
    </div>
</div>