.header {
    width: 100%;
    height: 800px;
    background-image: url("https://wallpaperaccess.com/full/1290140.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu {
    background-color: black;
    display: flex;
    justify-content: space-around;
    opacity: 0.8;
}

.navegacion {
    border-bottom: 5px solid black;
}

nav>ul {
    display: flex;
    justify-content: end;
}

nav>ul>a {
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.servicios {
    display: flex;
    justify-content: space-around;
}

.servicio {
    color: white;
    text-align: center;
    width: 250px;
    height: 200px;
    background-color: crimson;
}

.servicio> {
    text-decoration: underline;
}

main>div {
    margin-top: 10px;
}

.footer {
    background-color: black;
    opacity: 0.9;
    height: 200px;
    width: 100%;
    color: white;
    text-align: center;
}

.footer>.secciones {
    display: flex;
    justify-content: space-around;
    height: 180px;
    color: white;
}


/** Iconos Redes Sociales **/

nav.redes-sociales {
    text-align: center;
}

nav.redes-sociales a {
    color: #ffffff;
    font-size: 2em;
    margin-right: 20px;
}

nav.redes-sociales a:last-child {
    margin-right: 10px;
}


/** Mapa **/

.mapa {
    width: 550px;
    height: 175px;
    margin-top: 10px;
    padding-left: 10px;
}