<header class="header">
    <div class="menu">
        <div style="margin-left: 15px;">
            <h1 style="color: white;">GymGino</h1>
        </div>
        <nav class="navegacion">
            <ul>
                <a href="">Inicio</a>
                <a href="">Promociones</a>
                <a href="">Contacto</a>
                <a href="" [routerLink]="['/admin']">Login</a>
            </ul>
        </nav>
    </div>

</header>
<main>
    <div class="servicios">
        <div class="servicio">
            <h2>Nuestras clases</h2>
            <p>Lorem ipsum dolor sit amet consectetur ad</p>

        </div>
        <div class="servicio">
            <h2>Nuestros profesores</h2>
            <p>Lorem ipsum dolor sit amet consectetur ad</p>
        </div>
        <div class="servicio">
            <h2>Membresias</h2>
            <p>Lorem ipsum dolor sit amet consectetur ad</p>
        </div>
        <div class="servicio">
            <h2>Sobre nosotros</h2>
            <p>Lorem ipsum dolor sit amet consectetur ad</p>
        </div>
    </div>
    <div>Nuestras clases</div>
    <div>Nuestros profesores</div>
    <div>Membresias</div>
</main>

<footer class="footer">
    <div class="secciones">
        <div>Redes</div>
        <div>Ubicacion</div>
    </div>
    <div>@Copyright Los pibs</div>
</footer>