<header class="header">
    <div class="menu">
        <div style="margin-left: 15px;">
            <h1 style="color: white;">Elda-Pilates</h1>
        </div>

        <nav class="redes-sociales">
            <a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
        </nav>

        <nav class="navegacion">
            <ul>
                <a href="" [routerLink]="['/hcBWvERHhVtxfqdLn8j3LdejrxFVTU']">Clientes</a>
                <a href=" " [routerLink]="[ '/'] ">Salir</a>
            </ul>
        </nav>
    </div>

</header>