<app-header-admin></app-header-admin>

<div class="tablaClientes ">
    <h3 style="text-align: center;margin-top: 15px; ">Planilla de clientes</h3>
    <div class="container ">

    </div>
</div>
<div class="container divForm">

    <div class="form-group">

        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Usuario" #nombre>
    </div>
    <div class="form-group">

        <input type="text" class="form-control" placeholder="Password" #apellido>
    </div>
    <div class="form-group">

        <input type="number" class="form-control" placeholder="Dni" #dni>
    </div>
    <div class="form-group">

        <input type="text" class="form-control" placeholder="Email" #email>
    </div>
    <div class="form-group">

        <input type="" class="form-control" placeholder="Telefono" #telefono>
    </div>
    <div class="button">
        <button class="btn btn-success" (click)="crearCliente(nombre.value,apellido.value,dni.value,email.value,telefono.value)">Agregar</button>
        <button class="btn btn-danger" [routerLink]="['/hcBWvERHhVtxfqdLn8j3LdejrxFVTU']">Regresar</button>
    </div>

</div>