<app-header-admin></app-header-admin>


<div class="container divTable">
    <h2>Planilla de Asistencias</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Fecha</th>
                <th scope="col">Horario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asistencia of arrayAsistencias">

                <td>{{asistencia.fecha}}</td>
                <td>{{asistencia.turno}}</td>
                <td>{{asistencia.nombre}}</td>
                <td>{{asistencia.apellido}}</td>
            </tr>


        </tbody>
    </table>


</div>

<div class="button">
    <button class="btn btn-success" (click)="desplezarFormAgregarAsistencia()">Agregar</button>
    <button class="btn btn-warning" (click)="mostrarDivBuscador()">Buscador</button>
    <button class="btn btn-danger" [routerLink]="['/hcBWvERHhVtxfqdLn8j3LdejrxFVTU']">Regresar</button>

</div>


<div *ngIf="generarAsitencia==true">
    <div class="container divFormAsistencias">
        <input type="text" placeholder="Nombre" #nombre>
        <input type="text" placeholder="Apellido" #apellido>
        <input type="text" placeholder="Fecha" #fecha>
        <input type="text" placeholder="Turno" #turno>
        <button class="btn btn-success" (click)="generarAsistencias(nombre.value,apellido.value,fecha.value,turno.value)">Agregar</button>
        <button class="btn btn-danger" (click)=" ocultarFormGenerarAsistencia()">Cancelar</button>

    </div>
</div>

<div class="operacionesClientes" *ngIf="mostrarFormBuscador==true">
    <div>

        <div>
            <input type="text" placeholder="Buscar por apellido" #apellido>
            <button class="btn btn-success" (click)="filtrarAsistenciasPorApellido(apellido.value)">Buscar</button>
        </div>
        <div>
            <input type="text" placeholder="Buscar por fecha" id="inputFecha" #fecha>
            <button class="btn btn-success" (click)="filtarAsistenciasPorFecha(fecha.value)">Buscar</button>
        </div>
    </div>
    <div class="container divBuscador">
        <h2>Buscador</h2>
        <div *ngIf="mostrarAsistenciaFecha==true">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Cantidad de asistencias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let asistencias of arrayAsistenciasFecha">
                        <td>{{asistencias.fecha}}</td>
                        <td>{{asistencias.turno}}</td>
                        <td>{{asistencias.nombre}}</td>
                        <td>{{asistencias.apellido}}</td>
                        <td>{{arrayAsistenciasApellido.length}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="mostrarAsistenciaApellido==true">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Cantidad de asistencias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let asistencias of arrayAsistenciasApellido">
                        <td>{{asistencias.fecha}}</td>
                        <td>{{asistencias.turno}}</td>
                        <td>{{asistencias.nombre}}</td>
                        <td>{{asistencias.apellido}}</td>
                        <td>{{arrayAsistenciasApellido.length}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <button class="btn btn-danger" (click)="ocultarDivBuscador()">Cancelar</button>
</div>